<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Medicina</div>
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Medicinas Naturales</li>
        </ol>
      </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
      <div class="d-lg-flex align-items-center mb-4 gap-3">
        <div class="position-relative">
          <input type="text" class="form-control ps-5 radius-30"
         [formControl]="BuscarForm"
          
          placeholder="Buscar Medicina"> <span
            class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
        </div>
        <div class="ms-auto">
          <button
            (click)="crearMedicina()"
            class="btn btn-primary radius-30 mt-2 mt-lg-0"
          >
            <i class="bx bxs-plus-square"></i>Nueva Medina Natural
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Efectos</th>
              <th>Habilitar</th>
              <th>Fecha de Actualización</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medicina of Medicinas; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td><img alt="{{medicina.foto}}" src="{{url}}{{medicina.foto}}" height="80"/> </td>
                <td>{{ medicina.nombre }} </td>
                <td>{{ medicina.tipo.nombre }} </td>
                <td>{{ medicina.descripcion }} </td>
                <td>{{ medicina.efectos }} </td>
                <td>
                  <app-switch [id]="medicina.medicina_id" [estado]="medicina.estado" (clickEnable)="enableMedicina(medicina.medicina_id)"></app-switch>
                </td>
                <td>{{ medicina.fecha_actualizacion}} </td>
                <td>
                  <div class="d-flex order-actions">
                    <a (click)="editModal(medicina.medicina_id)"><i class='bx bxs-edit'></i></a>
                    <a (click)="delete(medicina.medicina_id)" class="ms-3" ><i class='bx bxs-trash'></i></a> 
                    <a [routerLink]="['lista-enfermedades/', medicina.medicina_id]" class="ms-3"><i class='bx bxs-add-to-queue color-green'></i></a>
                  </div>
                </td>
                <td class="col-12" *ngIf="loadingScroll">
                  <app-spinner></app-spinner>
                </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
</div>
