<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <form
    class="row g-3 needs-validation"
    [formGroup]="form"
    (ngSubmit)="registerUser(form.value)"
    id="userform"
    novalidate
  >
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 form-group is-invalid">
          <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="nombreUsuario"
            formControlName="nombreUsuario"
            placeholder="Nombre de Usuario"
            [ngClass]="{ 'is-invalid': (form.controls.nombreUsuario.touched || form.controls.nombreUsuario.dirty) && form.controls.nombreUsuario.invalid }"
          >
          <app-input-validator-error [control]="form.controls.nombreUsuario" [controlName]="'Nombre de Usuario'"></app-input-validator-error>
        </div>
        <div class="col-md-6 form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="password" formControlName="password"
            placeholder="Contraseña"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="nombres" class="form-label">Nombres</label>
          <input
            type="text"
            class="form-control form-control-sm" id="nombres"
            formControlName="nombres" placeholder="Nombres"
            [ngClass]="{ 'is-invalid': form.controls.nombres.touched && form.controls.nombres.errors }"
          >
          <div *ngIf="form.controls.nombres.errors" class="invalid-feedback">
            <div *ngIf="form.controls.nombres.errors.required">Nombre es requerido</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="primerApellido" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control form-control-sm" id="primerApellido" formControlName="primerApellido" placeholder="primerApellido">
          <div *ngIf="form.controls.primerApellido.errors" class="invalid-feedback">
            <div *ngIf="form.controls.primerApellido.errors.required">Apellido es requerido</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="segundoApellido" class="form-label">Segundo Apellido</label>
          <input type="text" class="form-control form-control-sm" id="segundoApellido" formControlName="segundoApellido" placeholder="segundoApellido">
          <div *ngIf="form.controls.segundoApellido.errors" class="invalid-feedback">
            <div *ngIf="form.controls.segundoApellido.errors.required">Apellido es requerido</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control form-control-sm" id="fechaNacimiento" formControlName="fechaNacimiento">
          <div *ngIf="form.controls.fechaNacimiento.errors" class="invalid-feedback">
            <div *ngIf="form.controls.fechaNacimiento.errors.required">Fecha de Nacimiento es requerido</div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="validationCustom03" class="form-label">Permisos</label>
          <div formArrayName="roles">
            <div *ngFor="let myOption of roles.controls; let i = index">
              <div formGroupName="{{ i }}" class="form-check">
                <input type="checkbox" id="a{{ i }}" class="form-check-input" [formControl]="myOption.get('selected')" />
                <label for="a{{ i }}" class="form-check-label">
                  {{ myOption.get('display_name').value }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="activeModal.dismiss('Cross click')"
      >Cerrar</button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || isLoading"
      >
        <i class="lni lni-save" *ngIf="!isLoading"></i>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
        Guardar
      </button>
    </div>
  </form>
</div>
