<div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">{{ titulo }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      ></button>
    </div>

    <form
      class="row g-3 needs-validation"
      [formGroup]="form"
      (ngSubmit)="registrarForm(form.value)"
      id="userform"
      novalidate
    >
      <div class="modal-body">
        
        <div class="row">
          <div class="col-md-12 form-group is-invalid">
            <label for="nombre" class="form-label">Nombre</label> 
            <input
              type="text"
              class="form-control form-control-sm"
              id="nombre"
              formControlName="nombre"
              placeholder="Nombre"
              [ngClass]="{ 'is-invalid': (form.controls.nombre.touched || form.controls.nombre.dirty) && form.controls.nombre.invalid }"
            >
            <app-input-validator-error [control]="form.controls.nombre" [controlName]="'Nombre'"></app-input-validator-error>
          </div>

          <div class="col-md-6 form-group">
            <label for="tipo_id" class="form-label">Tipo</label>
            <div class="input-group">
              <select
                class="single-select form-select form-select-sm"
                formControlName="tipo_id"
                [ngClass]="{ 'is-invalid': 
                (form.controls.tipo_id.touched 
                || form.controls.tipo_id.dirty) 
                && form.controls.tipo_id.invalid }"
                >
                <option *ngFor="let tipo of tipos" 
                [value]="tipo.tipo_id">{{tipo.nombre}}</option>
              </select>
            </div>
            <app-input-validator-error [control]="form.controls.tipo_id"
            [controlName]="'Tipo'"></app-input-validator-error>
          </div>

          <div class="col-md-12 form-group is-invalid">
            <label for="efectos" class="form-label">Efectos</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              id="efectos"
              formControlName="efectos"
              placeholder="Efectos"
              [ngClass]="{ 'is-invalid': (form.controls.efectos.touched || form.controls.efectos.dirty) && form.controls.efectos.invalid }"
            ></textarea>
            <app-input-validator-error [control]="form.controls.efectos" [controlName]="'Efectos'"></app-input-validator-error>
          </div>

          <div class="col-md-12 form-group is-invalid">
            <label for="preparados" class="form-label">Preparado</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              id="preparados"
              formControlName="preparados"
              placeholder="Preparado"
              [ngClass]="{ 'is-invalid': (form.controls.preparados.touched || form.controls.preparados.dirty) && form.controls.preparados.invalid }"
            ></textarea>
            <app-input-validator-error [control]="form.controls.preparados" [controlName]="'Preparado'"></app-input-validator-error>
          </div>
          <div class="col-md-12 form-group is-invalid">
            <label for="recomendaciones" class="form-label">Recomendación</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              id="recomendaciones"
              formControlName="recomendaciones"
              placeholder="Recomendaciones"
              [ngClass]="{ 'is-invalid': (form.controls.recomendaciones.touched || form.controls.recomendaciones.dirty) && form.controls.recomendaciones.invalid }"
            ></textarea>
            <app-input-validator-error [control]="form.controls.recomendaciones" [controlName]="'Recomendación'"></app-input-validator-error>
          </div>

          <div class="col-md-12 form-group is-invalid">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              id="descripcion"
              formControlName="descripcion"
              placeholder="Descripción"
              [ngClass]="{ 'is-invalid': (form.controls.descripcion.touched || form.controls.descripcion.dirty) && form.controls.descripcion.invalid }"
            ></textarea>
            <app-input-validator-error [control]="form.controls.descripcion" [controlName]="'Descripción'"></app-input-validator-error>
          </div>

          <div class="col-md-12 form-group is-invalid">
            <label for="foto"class="form-label">Imagen</label>
            <input
              type="file"
              class="form-control form-control-sm"
              id="foto"
              accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
              formControlName="foto"
              (change)="onSelectFile($event)"
              [ngClass]="{ 'is-invalid': (form.controls.foto.touched || form.controls.foto.dirty) && form.controls.foto.invalid }"
            >
            <app-input-validator-error [control]="form.controls.foto" [controlName]="'Archivo de Imagen'"></app-input-validator-error>
          </div>

        </div>


        
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="activeModal.dismiss('Cross click')"
        >Cerrar</button>
        
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || isLoading"
        >
          <i class="lni lni-save" *ngIf="!isLoading"></i>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
          Guardar
        </button>
      </div>
    </form>
  </div>
  